
@import url('https://fonts.googleapis.com/css?family=Karma:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,800,900');
.footer-div-1, .footer-div-3{
	background-color: #0b2d40;
}
.footer-div-1{
	padding: 5%;
}
.footer-div-1-col-2{
	padding-top: 3%;
}
.subscribe-text-1{
	font-size: 2.5em;
	font-weight: lighter;
}
.subscribe-text-2{
	font-size: 1.2em;
	font-weight: lighter;
}
.footer-div-2{
	color: #808080;
	font-size: 1.3em;
	padding: 5%;
}
.footer-div-3{
	padding: 5%;
}
li{
	list-style-type: none;
	text-decoration: none;
}
.sams-blue{
	color: #0b2d40;
}
.links{
	color: #808080;
	text-decoration: none;
}
.links:hover{
	color: #808080;
}

@media only screen and (max-width:600px){
	.footer-div-1{
		padding: 1%;
	}
	.footer-div-2{
		padding: 0%;
	}
	.footer-div-3{
		padding: 0%;
		margin: 0%;
	}
	.subscribe-text-1{
		font-size: 1.6em;
		text-align: center;
	}
	.subscribe-text-2{
		font-size: 0.9em;
		text-align: center;
	}
	.footer-div-1-col-2{
		padding-top: 2%;
	}
	.footer-div-2-col-1{
		text-align: center;
	}
	.footer-div-2-col-2{
		margin-left: 0;
		padding-left: 0;
	}

}
